<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<title>网站建设多少钱</title>
<meta name="keywords" content="{eyou:global name='web_keywords' /}" />
<meta name="description" content="{eyou:global name='web_description' /}" />


<!--网站地址栏图标-->
<link href="{eyou:global name='web_ico' /}" rel="shortcut icon" type="image/x-icon" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta name="applicable-device" content="pc,wap">
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/font-awesome.min.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/bootstrap.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/owl.carousel.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/style.css">
<script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery-1.11.0.min.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/owl.carousel.min.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/app.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/yh.js"></script>
</head>
<body>
{eyou:include file='head.htm'/}
<div class="owl-carousel owl-banner"> {eyou:adv pid='1'}
  <div class="item">
    <div class="bg" style="background-image: url({$field.litpic})"></div>
    <div class="container text-center">
      <div class="wrap">
        <h1>{$field.title}</h1>
        <p class="lead">{$field.intro}</p>
        <a href="{$field.links}" class="btn">查看详情</a> </div>
    </div>
  </div>
  {/eyou:adv} </div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h3>{eyou:global name='web_attr_4' /}</h3>
        <p class="lead" style="margin-bottom: 0;color: #767676;">
        <p>{eyou:global name='web_attr_6' /}</p>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="features text-center clearfix">
  <div class="item col-md-4" style="background-color: #fff;"> <i class="fa fa-cloud"></i>
    <h4>互联网基础产品</h4>
    <p style="color: #767676;">我们提供域名注册和虚拟主机租用，云服务器租用和企业邮箱等网络推广基础产品。我们承诺提供专业的建议和放心的售后服务，让您无后顾之忧。</p>
  </div>
  <div class="item col-md-4" style="background-color: #465bb6;color: #fff;"> <i class="fa fa-code"></i>
    <h4>企业网站建设</h4>
    <p>我们致力于打造可持续发展的企业网站，从策划到设计制作每一步都追求细腻。我们将搜索引擎优化和用户体验优化相结合，以确保网站的长期稳定发展</p>
  </div>
  <div class="item col-md-4" style="background-color: #f4f4f4;"> <i class="fa fa-search"></i>
    <h4>搜索引擎排名优化</h4>
    <p>我们采用先分析后合作，先排名后付费的方式进行整站SEO优化。这将让您的网站有更多关键词的自然排名，并实现长期稳定共赢的目标</p>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="section-title">
      <h3 class="text-center">网站建设多少钱</h3>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="pricing text-center">
          <h5>基础型网站</h5>
          <h6>PC端</h6>
          <div class="price"> <span class="h5">¥</span> <span class="h1">4800</span> </div>
          <hr>
          <p> 我们注重细节处理的完善<br>
            超低价格也能做出高品质的效果 </p>
          <a class="btn" href="javascript:;" title="基础型网站建设">查看详细</a> </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="pricing text-center">
          <h5>标准型网站</h5>
          <h6>PC端 + 移动端</h6>
          <div class="price"> <span class="h5">¥</span> <span class="h1">6800</span> </div>
          <hr>
          <p> PC版 + 触屏版<br>
            全网展示，助力营销 </p>
          <a class="btn" href="javascript:;" title="基础型网站建设">查看详细</a> </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="pricing text-center">
          <h5>精品型网站</h5>
          <h6>PC + 移动端 + 微信端</h6>
          <div class="price"> <span class="h5">¥</span> <span class="h1">8800</span> </div>
          <hr>
          <p> PC + 移动端 + 微信端<br>
            全方位提高企业互联网形象 </p>
          <a class="btn" href="javascript:;" title="基础型网站建设">查看详细</a> </div>
      </div>
    </div>
  </div>
</div>
{eyou:channelartlist typeid='3'}
<div class="section" style="background-color: #f4f4f4;">
  <div class="container">
    <div class="section-title">
      <h3 class="text-center">{eyou:field name='typename' /}</h3>
    </div>
    <div id="box"> </div>
    <div id="data_item" >
      <div class="owl-carousel owl-case"> {eyou:arclist row='9' titlelen='60'}
        <div class="owl-item">
          <div class="item"> <a href="{$field.arcurl}" title="{$field.title}"> <img src="{$field.litpic}" alt="{$field.title}">
            <div class="list_eye"><span></span></div>
            </a> </div>
        </div>
        {/eyou:arclist} </div>
    </div>
  </div>
</div>
{/eyou:channelartlist}
<div class="section section-news hidden-xs"> {eyou:channelartlist typeid='4'}
  <div class="container" style="position: relative;">
    <div class="section-title text-center">
      <h3>{eyou:field name='typename' /}</h3>
      <small>{eyou:field name='seo_description' /}</small> </div>
    <div class="row"> {eyou:arclist row='9' titlelen='60'}
      <div class="col-sm-4"> <a href="{$field.arcurl}" class="news-item">
        <h4>{$field.title}</h4>
        <p>{$field.seo_description|msubstr=###,0,150/2}...</p>
        </a> </div>
      {/eyou:arclist} </div>
  </div>
  {/eyou:channelartlist} </div>
<div class="city">
  <div class="container">
    <div class="center clearfix">
      <h3>友情链接：</h3>
      <div class="flink_list">
        <ul>
        
          <li> <a href="https://www.530.plus" target="_blank">网站建设多少钱</a> </li>
          
        </ul>
      </div>
    </div>
    
  </div>
</div>
{eyou:include file='footer.htm'/} 
<script>
    $(".owl-banner").owlCarousel({
        slideSpeed : 300,
        paginationSpeed : 400,
        singleItem:true,
        navigationText: false,
        loop: true,
        autoPlay: 3000
    });
</script>
</body>
</html>