<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>{$eyou.field.seo_title}</title>
<meta name="description" content="{$eyou.field.seo_description}" />
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<link href="{eyou:global name='web_ico' /}" rel="shortcut icon" type="image/x-icon" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta name="applicable-device" content="pc,wap">
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/font-awesome.min.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/bootstrap.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/owl.carousel.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/style.css">
<script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery-1.11.0.min.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/owl.carousel.min.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/app.js"></script>
</head>
<body>
{eyou:include file='head.htm'/}
<div class="banner text-center" style="background-image: url({eyou:global name='web_templets_pc' /}/skin/images/webcase.jpg)">
  <div class="container">
    <h1>{$eyou.field.typeid|gettoptype=###,'typename'}</h1>
    <p class="lead">{$eyou.field.typeid}</p>
  </div>
</div>
<div class="detail">
  <div class="detail-title text-center">
    <div class="container">
      <h1>{$eyou.field.title}</h1>
      <p><span>发布日期：{$eyou.field.add_time|MyDate='Y-m-d H:i',###} </span><span>浏览次数：{eyou:arcclick /}</span></p>
    </div>
  </div>
  <div class="detail-content">
    <div class="container"> {$eyou.field.content} </div>
  </div>
  <div class="container">
    <div class="detail-tool text-center"> {eyou:prenext get='pre'} <a href='{$field.arcurl}' title='{$field.title}'> 上一篇：{$field.title} </a> {eyou:else /} <a>上一篇：暂无</a> {/eyou:prenext}
      
      {eyou:prenext get='next'} <a href='{$field.arcurl}' title='{$field.title}'> 下一篇：{$field.title} </a> {eyou:else /} <a>下一篇：暂无</a> {/eyou:prenext}
      {eyou:type}<a href="{$field.typeurl}" class="btn b3">返回栏目列表</a>{/eyou:type} </div>
    <script>
            $('.detail-tool a:eq(0)').addClass('btn b1');
            $('.detail-tool a:eq(1)').addClass('btn b2');
        </script> 
  </div>
</div>
{eyou:include file='footer.htm'/}
</body>
</html>